<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <h1>This is clearly an About page</h1>
    <img src="/img/me.jpg">
    <h1>Created by {{name}}</h1>
</body>
</html>